environment:
    global:
        PROJECT_NAME: zoc
    matrix:
        - TARGET: i686-pc-windows-gnu
          CHANNEL: stable
        - TARGET: x86_64-pc-windows-msvc
          CHANNEL: stable
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: stable
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: beta
        - TARGET: x86_64-pc-windows-gnu
          CHANNEL: nightly

install:
    - set PATH=C:\msys64\mingw32\bin;C:\msys64\mingw64\bin;C:\msys64\usr\bin;%PATH%
    - curl -sSf -o rustup-init.exe https://win.rustup.rs
    - rustup-init.exe --default-host %TARGET% --default-toolchain %CHANNEL% -y
    - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
    - dir C:\Users
    - dir C:\Users\appveyor\
    - dir C:\Users\appveyor\.cargo

build_script:
    - rustc -Vv
    - cargo -V

test_script:
    - cmd: cargo run

cache:
    - target
    # - C:\Users\appveyor\.cargo\registry

before_deploy:
    - mkdir staging
    - copy target\debug\deployme.exe staging
    - cd staging
    - 7z a ../%PROJECT_NAME%-%TARGET%.zip *
    - appveyor PushArtifact ../%PROJECT_NAME%-%TARGET%.zip

deploy:
    artifact: /.*\.zip/
    auth_token:
        secure: MjXUk1z5Nb+uSillUwdmW9rVT2JfwIO0aB8Reb2qZYCCs7J/cAFJP4oCNE8XbiqE
    provider: GitHub
    on:
        CHANNEL: stable
        appveyor_repo_tag: true
        branch: master

# # эм, а на других ветках сборка вообще будет? мне ж надо что бы это только о деплое было
